[submodule "SimpleOT"]
	path = SimpleOT
	url = https://github.com/mkskeller/SimpleOT
[submodule "mpir"]
	path = mpir
	url = git://github.com/wbhart/mpir.git
[submodule "Programs/Circuits"]
	path = Programs/Circuits
	url = https://github.com/mkskeller/bristol-fashion
[submodule "simde"]
	path = simde
	url = https://github.com/simd-everywhere/simde
